<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12397740507-oshb8nmq4g049qqfsbnn35jggto36okf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12397740507-oshb8nmq4g049qqfsbnn35jggto36okf</string>
	<key>API_KEY</key>
	<string>AIzaSyCTXok_qKoI_yp1dhcWL_yLIa3JKNkzZ-E</string>
	<key>GCM_SENDER_ID</key>
	<string>12397740507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hym.Google</string>
	<key>PROJECT_ID</key>
	<string>test-34a11</string>
	<key>STORAGE_BUCKET</key>
	<string>test-34a11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:12397740507:ios:bf9a5ac24cd898928ce7fe</string>
</dict>
</plist>
